@use "vars";
@use "mixins";

/*BUTTONS*/

button {
  cursor: pointer;
  border-radius: 0.5rem;
  color: vars.$clr-white;
  border: 1px solid vars.$clr-white;
  transition: transform 50ms;

  &.dark {
    background-color: vars.$clr-darkgray;
  }

  &.light {
    background-color: vars.$clr-brown;
  }

  &:active {
    transform: scale(0.96);
  }
}

.primary {
  width: 100%;
  max-width: 400px;
  height: 3rem;
  font-size: vars.$fs-s;
  transition: box-shadow 1s, text-shadow 1s;

  &.medium-btn:hover {
    color: vars.$clr-gold;
    border: 1px solid vars.$clr-gold;
  }

  &.large-btn.dark:hover {
    @include mixins.neonBorder(vars.$clr-sith);
    @include mixins.neonText(vars.$clr-sith);
  }

  &.large-btn.light:hover {
    @include mixins.neonBorder(vars.$clr-jedi);
    @include mixins.neonText(vars.$clr-jedi);
  }
}

.small-btn {
  margin: 0.75rem;
  width: 4rem;
  height: 2.5rem;
  font-size: vars.$fs-s;
  transition: box-shadow 150ms, text-shadow 150ms;

  &.dark:hover {
    @include mixins.neonBorder(vars.$clr-sith);
    @include mixins.neonText(vars.$clr-sith);
  }

  &.light:hover {
    @include mixins.neonBorder(vars.$clr-jedi);
    @include mixins.neonText(vars.$clr-jedi);
  }
}
