/* Font families and font sizes*/
@font-face {
  font-family: Jedi;
  src: url("../assets/fonts/Starjedi.ttf") format("truetype");
}
/*Responsive Typography Sizes*/
/* Colors */
/* Dark Theme*/
/* Light Theme*/
.card {
  backdrop-filter: blur(5px);
  padding: 2.5rem;
  border-radius: 0.5rem;
  margin: 1rem;
  transition: box-shadow 1s;
}
.card.dark {
  background-color: rgba(91, 91, 93, 0.6);
}
.card.dark:hover {
  box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #ee2e31, 0 0 20px #ee2e31, 0 0 25px #ee2e31, 0 0 30px #ee2e31, 0 0 35px #ee2e31;
}
.card.light {
  background-color: rgba(246, 237, 203, 0.6);
}
.card.light:hover {
  box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #429cf0, 0 0 20px #429cf0, 0 0 25px #429cf0, 0 0 30px #429cf0, 0 0 35px #429cf0;
}

.card-image-container {
  display: flex;
  justify-content: center;
}

img.medium {
  width: 384px;
  height: 577px;
  object-fit: contain;
}

.card-body {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 1.5rem;
  gap: 0.5rem;
  font-weight: bold;
}
.card-body.dark {
  color: #fff;
}
.card-body.light {
  color: #2d2d2d;
}
.card-body p:first-child {
  font-size: clamp(1.25rem, 10vw + 1rem, 2rem);
}
.card-body p {
  font-size: clamp(1rem, 10vw + 1rem, 1.5rem);
}

/*BUTTONS*/
button {
  cursor: pointer;
  border-radius: 0.5rem;
  color: #fff;
  border: 1px solid #fff;
  transition: transform 50ms;
}
button.dark {
  background-color: #2d2d2d;
}
button.light {
  background-color: #51422a;
}
button:active {
  transform: scale(0.96);
}

.primary {
  width: 100%;
  max-width: 400px;
  height: 3rem;
  margin: 0.5rem;
  align-self: center;
  font-size: clamp(1rem, 10vw + 1rem, 1.5rem);
  transition: box-shadow 1s, text-shadow 1s;
}
.primary.medium-btn:hover {
  color: #ffe81f;
  border: 1px solid #ffe81f;
}
.primary.large-btn.dark:hover {
  box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #ee2e31, 0 0 20px #ee2e31, 0 0 25px #ee2e31, 0 0 30px #ee2e31, 0 0 35px #ee2e31;
  text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #ee2e31, 0 0 20px #ee2e31, 0 0 25px #ee2e31, 0 0 30px #ee2e31, 0 0 35px #ee2e31;
}
.primary.large-btn.light:hover {
  box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #429cf0, 0 0 20px #429cf0, 0 0 25px #429cf0, 0 0 30px #429cf0, 0 0 35px #429cf0;
  text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #429cf0, 0 0 20px #429cf0, 0 0 25px #429cf0, 0 0 30px #429cf0, 0 0 35px #429cf0;
}

.small-btn {
  margin: 0.75rem;
  width: 4rem;
  height: 2.5rem;
  font-size: clamp(1rem, 10vw + 1rem, 1.5rem);
  transition: box-shadow 150ms, text-shadow 150ms;
}
.small-btn.dark:hover {
  box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #ee2e31, 0 0 20px #ee2e31, 0 0 25px #ee2e31, 0 0 30px #ee2e31, 0 0 35px #ee2e31;
  text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #ee2e31, 0 0 20px #ee2e31, 0 0 25px #ee2e31, 0 0 30px #ee2e31, 0 0 35px #ee2e31;
}
.small-btn.light:hover {
  box-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #429cf0, 0 0 20px #429cf0, 0 0 25px #429cf0, 0 0 30px #429cf0, 0 0 35px #429cf0;
  text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #429cf0, 0 0 20px #429cf0, 0 0 25px #429cf0, 0 0 30px #429cf0, 0 0 35px #429cf0;
}

/* MODAL STYLES*/
.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(91, 91, 93, 0.6);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.modal-top {
  display: flex;
  justify-content: right;
}

.modal-main {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  max-height: 1000px;
  max-width: 1000px;
  height: 60%;
  width: 70%;
  padding: 0 2.5rem;
  perspective: 400px;
  background-image: url("../assets/images/modal-bg.jpg");
  font-size: clamp(2rem, 12vw + 1rem, 3rem);
  color: #ffe81f;
  overflow: hidden;
  position: relative;
}

/*Modal Content Containers*/
.front {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 2.5rem;
  height: 100%;
  width: 100%;
}

.crawl {
  font-size: clamp(2rem, 12vw + 1rem, 3rem);
  transform-origin: 50% 100%;
  transform: perspective(350px) rotateX(25deg);
}

/*Modal Content Elements*/
.intro {
  position: relative;
  line-height: 1;
  top: 45%;
  font-size: clamp(1rem, 10vw + 1rem, 1.5rem);
  text-align: center;
  color: #17a7b7;
  visibility: hidden;
  opacity: 0;
}

.intro.animated {
  animation: showIntro 8s ease-in-out 0s;
}

.swlogo {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  transform: scale(1.3);
  opacity: 0;
}

.swlogo.animated {
  animation: shrinkLogo 9s linear 9s;
}

.crawl-text {
  text-align: center;
  position: relative;
  top: 100%;
}
.crawl-text p:nth-child(4) {
  text-align: justify;
}

.crawl-text.animated {
  animation: slideText 50s linear 16s;
}

.op-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-size: clamp(1.25rem, 10vw + 1rem, 2rem);
  text-align: justify;
  overflow: scroll;
}
.op-text.visible {
  visibility: visible;
}
.op-text.hidden {
  visibility: hidden;
}
.op-text > p {
  padding: 2rem;
}

.op-text.animated {
  opacity: 0;
  animation: showText 3s linear 67s forwards;
}

@keyframes showIntro {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  70% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes shrinkLogo {
  0% {
    transform: scale(1.3);
    opacity: 1;
  }
  90% {
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.05);
    opacity: 0;
  }
}
@keyframes slideText {
  0% {
    top: 100%;
    opacity: 1;
  }
  99% {
    opacity: 1;
    top: -1500px;
  }
  100% {
    top: -1500px;
    opacity: 0;
  }
}
@keyframes showText {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.animation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.animation-content {
  display: flex;
  justify-content: center;
  max-height: 1000px;
  max-width: 1000px;
  height: 60%;
  width: 70%;
  padding: 0 2.5rem;
  perspective: 400px;
  background-image: url("../assets/images/modal-bg.jpg");
  font-size: clamp(2rem, 12vw + 1rem, 3rem);
  color: #ffe81f;
  overflow: hidden;
  position: relative;
}

/*Modal Content Containers*/
.front {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 2.5rem;
  height: 100%;
  width: 100%;
}

.crawl {
  font-size: clamp(2rem, 12vw + 1rem, 3rem);
  transform-origin: 50% 100%;
  transform: perspective(350px) rotateX(25deg);
}

/*Modal Content Elements*/
.intro {
  position: relative;
  line-height: 1;
  top: 45%;
  font-size: clamp(1rem, 10vw + 1rem, 1.5rem);
  text-align: center;
  color: #17a7b7;
  visibility: hidden;
  opacity: 0;
}

.intro.animated {
  animation: showIntro 8s ease-in-out 0s;
}

.swlogo {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  transform: scale(1.3);
  opacity: 0;
}

.swlogo.animated {
  animation: shrinkLogo 9s linear 9s;
}

.crawl-text {
  text-align: center;
  position: relative;
  top: 100%;
}
.crawl-text p:nth-child(4) {
  text-align: justify;
}

.crawl-text.animated {
  animation: slideText 50s linear 16s;
}

.op-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-size: clamp(1.25rem, 10vw + 1rem, 2rem);
  text-align: justify;
  overflow: scroll;
}
.op-text.visible {
  visibility: visible;
}
.op-text.hidden {
  visibility: hidden;
}
.op-text > p {
  padding: 2rem;
}

.op-text.animated {
  opacity: 0;
  animation: showText 3s linear 67s forwards;
}

@keyframes showIntro {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  70% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes shrinkLogo {
  0% {
    transform: scale(1.3);
    opacity: 1;
  }
  90% {
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.05);
    opacity: 0;
  }
}
@keyframes slideText {
  0% {
    top: 100%;
    opacity: 1;
  }
  99% {
    opacity: 1;
    top: -1500px;
  }
  100% {
    top: -1500px;
    opacity: 0;
  }
}
@keyframes showText {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  gap: 2rem;
}

.add-movie-form {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html ::-webkit-scrollbar {
  width: 15px;
}
html ::-webkit-scrollbar-corner {
  display: none;
}
html ::-webkit-scrollbar:horizontal {
  display: none;
}
html ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2d2d2d;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: rgba(91, 91, 93, 0.6);
}

body {
  background-image: url("../assets/images/star-wars-background.jpg");
  font-family: "Franklin Gothic";
  color: #fff;
}

.grid-container {
  display: grid;
  grid-template-areas: "theme-toggle" "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 2.5rem auto 1fr 5rem;
  height: 100%;
}

.theme-toggle {
  grid-area: theme-toggle;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 1rem;
}
.theme-toggle > label {
  margin-right: 5px;
}

.top-row {
  grid-area: header;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.top-row h1 {
  font-family: "Jedi";
  font-size: clamp(4rem, 12vw + 1rem, 5.5rem);
  color: #fff;
}
.top-row h2 {
  font-size: clamp(3rem, 12vw + 1rem, 4.5rem);
  color: #ffe81f;
}
.top-row .logo {
  width: 64px;
  max-height: 64px;
  object-fit: contain;
}
.top-row.dark h1 {
  text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #ee2e31, 0 0 20px #ee2e31, 0 0 25px #ee2e31, 0 0 30px #ee2e31, 0 0 35px #ee2e31;
}
.top-row.light h1 {
  text-shadow: 0 0 3px #fff, 0 0 6px #fff, 0 0 9px #fff, 0 0 12px #429cf0, 0 0 20px #429cf0, 0 0 25px #429cf0, 0 0 30px #429cf0, 0 0 35px #429cf0;
}

main {
  grid-area: main;
  padding: 2rem;
}

.loading {
  color: #fff;
  font-size: clamp(1.25rem, 10vw + 1rem, 2rem);
}

.middle-row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.add-new-movie {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

footer {
  grid-area: footer;
  font-size: clamp(1.25rem, 10vw + 1rem, 2rem);
  color: #fff;
  text-align: center;
}

@media only screen and (max-width: 795px) {
  header {
    flex-direction: column;
  }

  .crawl {
    font-size: clamp(1.25rem, 10vw + 1rem, 2rem);
  }
}

/*# sourceMappingURL=index.css.map */
